body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
.socialBar{
    top: 50%;
    position: fixed;
    transform: translateY(-50%);
}
.socialBar a{
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.5s ease-in-out;
    color: white;
}
.socialBar a:hover{
    background: rgb(11, 11, 11);
}
.facebook{
    background-color: #3d3da4;
}
.twitter{
    background-color: #9086e7;
}
.instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.discord{
    background-color: #3840ea;
}
.linkedin{
    background-color: #3327a6;
}
.youtube{
    background-color: #a50f2d;
}
.content{
    margin-left: 80px;
}